// import main styles
// global reset
@use "base/reset";

// base
@use "base/body";
@use "base/typography";

// layout
@use "layout/container";
@use "layout/login";

// components
@use "components/footer";
@use "components/card";
@use "components/carousel";
@use "components/sidebar";
@use "components/navbar";
@use "components/button";
@use "components/dropdown";
@use "components/form/form-groups";
@use "components/form/form-input";
@use "components/form/form-check";

form {
  width: 500px;
}

.demo-container {
  margin: 3rem 10%;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.carousel-container {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}