@use "../abstracts/variables" as *;


*,
*::before,
*::after {
  box-sizing: border-box;
  // for development
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;

  background: $body-bg;
  color: $body-color;

  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  line-height: $line-height-base;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}