// global reset
@use "reset"

// components
@use "button"
@use "dropdown"
@use "card"

div
  box-sizing: border-box

section
  margin-bottom: 40px

h2
  margin-bottom: 1rem

.container
  box-sizing: border-box
  margin: 3rem 10%

.btn-container
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: flex-start
  gap: 1.2rem