@use "../../abstracts/variables" as *;


$form-group-margin-bottom: 1rem !default;
$form-group-context-gap: 0.3rem !default;
$form-group-font-size: 0.8rem !default;
$button-group-margin-bottom: calc($form-group-margin-bottom * 1.5) !default;

.form-group, .button-group {
  width: 100%;
}

.form-group {
  font-size: $form-group-font-size;

  * {
    margin: 0;
  }

  &:not(:last-child) {
    margin-bottom: $form-group-margin-bottom;
  }

  label {
    display: inline-block;
    margin-bottom: $form-group-context-gap;
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $button-group-margin-bottom;
}