.navBar {
    background-color: #F7F8FA;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    /*margin-bottom: 50px;*/
}

.navBar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar ul li {
    margin: 0 10px;
    text-decoration: none;
}

.navBar a {
    text-decoration: none;
    color: #666666;
}

.navBar button {
    /*background-color: #3497DA;*/
    /*border: none;*/
    /*border-radius: 30px;*/
    /*padding: 14px 38px;*/
    /*outline: none;*/
    /*cursor: pointer;*/

    /*font-size: 1em;*/
    /*color: #f8f9fa;*/

    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    border: none;
    /*text-decoration: none;*/
    padding: 5px 10px;
    font-size: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    /*display: inline-block;*/

    color: #fff;
    background-color: #3497DA;
}

#register {
    background-color: #4CAF50;
}