
@mixin cutoff($direction, $size) {
  overflow: hidden;
  padding-#{$direction}: $size;
}

@mixin logo-text {
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  width: 248px;
  flex: 0 0 auto;

  img {
    width: 100%;
    vertical-align: center;
  }
}