// Variables should follow the `$component-state-property-size` formula for consistent naming.

// ------------------- Colors ------------------- //
// main colors
$white: #ffffff !default;
$black: #000000 !default;
$blue: #1e69fe !default;

// gray colors
$gray-1: #f6f9ff !default;
$gray-2: #e6ebf4 !default;
$gray-3: #b5bccs !default;

// gray colors map
$grays: (
        1: $gray-1,
        2: $gray-2,
        3: $gray-3
) !default;

// theme colors
$primary: $blue !default;
$secondary: #326164 !default;
$success: #8EC92DD6 !default;
$info: #08a29e !default;
$warning: #ffb200 !default;
$danger: #ff3a29 !default;
$light: $gray-1 !default;
$dark: #071232 !default;

// theme colors map
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
) !default;
// ------------------- Colors ------------------- //

// ------------------- Configurations ------------------- //
// prefix for CSS variables
$prefix: g28- !default;

$max-z-index: 100 !default;
// ------------------- Configurations ------------------- //


// ------------------- Theme properties ------------------- //
// styles for the disabled state
$disabled-color: $white !default;
$disabled-bg: #6c757d !default;
$disabled-border: transparent 1px solid !default;

// fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Ubuntu:wght@300;400;500;700&display=swap');
$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-monospace: 'DM Mono', monospace !default;

// font styles (normalization)
$font-family-base: $font-family-sans-serif !default;
$font-family-code: $font-family-monospace !default;

// font sizes
$font-size-base: 1rem !default; // typically `16px`
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

// font weights
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;

$font-weight-base: $font-weight-normal !default;

// line heights
$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

// headings
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// font sizes map
$font-sizes: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size
) !default;

$headings-font-family: 'Ubuntu', sans-serif !default;
$headings-font-weight: $font-weight-medium !default;
$headings-line-height: 1.2 !default;
$headings-color: $black !default;
$headings-margin-bottom: .5rem !default;
// ------------------- Theme properties ------------------- //

// ------------------- Body ------------------- //
$body-bg: $light !default;
$body-color: $dark !default;
// ------------------- Body ------------------- //

// ------------------- Buttons ------------------- //
$btn-margin: .5rem !default;
$btn-padding-y: .5rem !default;
$btn-padding-x: 1rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-sm !default;
$btn-font-weight: $font-weight-semibold !default;
$btn-line-height: $line-height-base !default;
$btn-border-radius: .3rem !default;
$btn-border-width: 1px !default;
$btn-shadow-vars: 1px 2px 3px !default;
$btn-shadow-opacity: 0.38 !default;
$btn-focus-box-shadow: 0 0 0 0.2rem rgba(30, 105, 254, 0.25) !default;
$btn-active-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !default;
$btn-transition: all .2s ease-in-out !default;
$btn-transition-active: all .1s ease-out !default;
$btn-color: $dark !default;
$btn-gap: 0.8rem !default;

// button customized colors (the default is $theme-colors)
$btn-bg-colors: (
        "light": $white,
) !default;
$btn-bg-hover-colors: (
        "primary": lighten($primary, 10%),
        "secondary": lighten($secondary, 10%),
        "success": lighten($success, 10%),
        "info": lighten($info, 10%),
        "warning": lighten($warning, 10%),
        "danger": lighten($danger, 10%),
        "light": #efefef,
        "dark": #44467a,
) !default;
$btn-bg-active-colors: (
        "primary": darken($primary, 10%),
        "secondary": darken($secondary, 10%),
        "success": darken($success, 10%),
        "info": darken($info, 10%),
        "warning": darken($warning, 10%),
        "danger": darken($danger, 10%),
        "light": #9da7af,
        "dark": #9595ad,
) !default;

$btn-text-colors: (
        "light": $dark,
) !default;
$btn-text-active-colors: (
        "primary": $light,
        "secondary": $light,
        "success": $light,
        "info": $light,
        "warning": $light,
        "danger": $light,
) !default;
$btn-text-color-default: $light !default;

$btn-shadow-colors: (
        "light": $black,
        "dark": $black,
        "success": darken($success, 10%),
) !default;
// ------------------- Buttons ------------------- //

// ------------------- Navbar ------------------- //
$nav-z-index: $max-z-index - 20 !default;
$nav-height: 4rem !default;
$nav-margin-bottom: 1rem !default;
$nav-cutoff: $nav-height + $nav-margin-bottom !default;
// ------------------- Navbar ------------------- //

// ------------------- Sidebar ------------------- //
$sidebar-width: 260px !default;
$sidebar-bg: $white !default;
$sidebar-z-index: $max-z-index - 10 !default;
$sidebar-border: 1px solid rgba($gray-2, 0.6) !default;
$sidebar-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.12) !default;

$sidebar-nav-z-index: $sidebar-z-index + 5 !default;

$sidebar-context-padding: $nav-cutoff 1rem 1rem 1rem !default;
// ------------------- Sidebar ------------------- //