// Variables should follow the `$component-state-property-size` formula for consistent naming.

// ------------------- Colors ------------------- //
// main colors
$white: #ffffff !default;
$black: #000000 !default;
$blue: #1e69fe !default;

// gray colors
$gray-1: #f6f9ff !default;
$gray-2: #07307a !default;
$gray-3: #b5bccf !default;

// gray colors map
$grays: (
        1: $gray-1,
        2: $gray-2,
        3: $gray-3
) !default;

// theme colors
$primary: $blue !default;
$secondary: #326164 !default;
$success: #8EC92DD6 !default;
$info: #08a29e !default;
$warning: #ffb200 !default;
$danger: #ff3a29 !default;
$light: $gray-1 !default;
$dark: #071232 !default;

// theme colors map
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
) !default;
// ------------------- Colors ------------------- //

// ------------------- Configurations ------------------- //
// prefix for CSS variables
$prefix: g28- !default;

$max-z-index: 100 !default;
// ------------------- Configurations ------------------- //


// ------------------- Theme properties ------------------- //
// styles for the disabled state
$disabled-color: $white !default;
$disabled-bg: #6c757d !default;
$disabled-border: transparent 1px solid !default;

// fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Ubuntu:wght@300;400;500;700&display=swap');
$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-monospace: 'DM Mono', monospace !default;

// font styles (normalization)
$font-family-base: $font-family-sans-serif !default;
$font-family-code: $font-family-monospace !default;

// font sizes
$font-size-base: 1rem !default; // typically `16px`
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

// font weights
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;

$font-weight-base: $font-weight-normal !default;

// line heights
$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

// headings
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// font sizes map
$font-sizes: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size
) !default;
// ------------------- Theme properties ------------------- //

// ------------------- Body ------------------- //
$body-bg: $light !default;
$body-color: $dark !default;
// ------------------- Body ------------------- //

// ------------------- Fixed Components ------------------- //
$sidebar-width: 250px !default;
$navbar-height: 4rem !default;
$gap: 1rem !default;
// ------------------- Fixed Components ------------------- //

// ------------------- Grid System ------------------- //
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// following variables are used in both the grid and the flexbox.
// the grid system generates its template based on its own child components.
// So these variables will be the max values it can take.
$grid-columns: 12 !default;
$grid-rows: 9 !default;
// ------------------- Grid System ------------------- //
