@use "../../abstracts/variables" as *;


$form-group-margin-bottom: 1rem !default;
$form-group-context-gap: 0.3rem !default;
$form-group-font-size: 0.8rem !default;
$button-group-margin-bottom: calc($form-group-margin-bottom * 1.5) !default;

.form-group, .button-group {
  width: 100%;
}

.form-group {
  font-size: $form-group-font-size;

  * {
    margin: 0;
  }

  &:not(:last-child) {
    margin-bottom: $form-group-margin-bottom;
  }

  label {
    display: inline-block;
    margin-bottom: $form-group-context-gap;
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $button-group-margin-bottom;
}

.selector-group {
  --#{$prefix}selector-group-flex-derection: row;
  --#{$prefix}selector-group-align-items: center;
  --#{$prefix}selector-group-justify-content: flex-start;
  --#{$prefix}selector-group-margin-top: 0;

  position: relative;
  display: flex;
  gap: .8rem;
  flex-direction: var(--#{$prefix}selector-group-flex-derection);
  align-items: var(--#{$prefix}selector-group-align-items);
  justify-content: var(--#{$prefix}selector-group-justify-content);
  margin-bottom: $form-group-margin-bottom;
  padding-top: var(--#{$prefix}selector-group-margin-top);

  &.vertical {
    --#{$prefix}selector-group-flex-derection: column;
    --#{$prefix}selector-group-align-items: start;
    --#{$prefix}selector-group-justify-content: center;
  }

  &.has-label {
    --#{$prefix}selector-group-margin-top: 2rem;
  }

  > label {
    font-size: $form-group-font-size;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}