body {
    background-color: #f1f5f9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 70%;
    /*min-width: 90vh;*/
    padding: 5vh;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

form {
    width: 100%;
    max-width: 40vh;
    /*padding: 15px;*/
    /*margin: 0 15vh 0 auto;*/
    margin-left: 0vh;
    padding-right: 6vh;
    /*!*background-color: #fff;*!*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: larger;
}

form input {
    border: 1px solid #ddd;
    border-radius: 0.5vh;
    height: 44px;
    padding: 0 15px;
    margin: 0 0 2vh;
    font-size: 16px;
}

#loginButton {
    border: 0;
    border-radius: 5px;
    height: 44px;
    padding: 0 15px;
    background: #2980B9;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.2s;
    cursor: pointer;
    margin-top: 2vh;
}

.image{
    width: 100%;
    max-width: 80vh;
    /*margin: 0 auto 0 15vh;*/
    /*padding-left: 5vh;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.sign-in-component {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in-component h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 0 30px;
}

.sign-in-component h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 30px;
}

.sign-in-header {
    margin: 0 0 30px;
}

.register-now {
    /*margin-top: 30px;*/
    text-decoration: none;
}

.register-now:hover {
    text-decoration: underline;
}

.register-now a {
    margin: 0;
    font-size: 0.9em;
    text-decoration: none;
}

.forget-password:hover {
    text-decoration: underline;
}

.forget-password a {
    margin: 0;
    font-size: 0.9em;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    form {
        margin: 0 auto;
        margin-top: 5vh;
        padding: 0 15px;
    }

    .image {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    form {
        margin: 0 auto;
        margin-top: 5vh;
        padding: 0 15px;
    }

    .image {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    form {
        margin: 0 auto;
        margin-top: 5vh;
        padding: 0 15px;
    }

    .image {
        display: flex;
        max-width: 50vh;
    }
}
