@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


$z-index: $max-z-index - 20 !default;
$width: calc(100% - $sidebar-width) !default;
$margin-bottom: 1rem !default;
$padding: 0 1rem !default;
$cutoff: $navbar-height !default;
$box-shadow: 1px 0 2px $gray-3 !default;


nav {
  --#{$prefix}nav-position: fixed;
  --#{$prefix}nav-z-index: #{$z-index};
  --#{$prefix}nav-width: #{$width};
  --#{$prefix}nav-bg: #{$white};

  position: var(--#{$prefix}nav-position);
  z-index: var(--#{$prefix}nav-z-index);
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: var(--#{$prefix}nav-width);
  height: $navbar-height;
  padding: $padding;
  margin-bottom: $margin-bottom;
  background: var(--#{$prefix}nav-bg);
  border-bottom: $fixed-border;
  box-shadow: $box-shadow;

  .sidebar-logo {
    @include company-logo(200px);
  }

  .navbar-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    height: 100%;
    width: 100%;
    //padding-right: 20px;

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0;
      list-style: none;

      li {
        user-select: none;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        a {
          color: $dark;
          //text-decoration: $link-decoration;
          cursor: default;

          &:link, &:visited {
            //color: $color-grayblue-60;
            //text-decoration: $link-decoration;
            cursor: pointer;
          }

          &:hover:not(.disabled) {
            //color: $color-grayblue-70;
            //text-decoration: $link-decoration;
            cursor: pointer;
          }

          &:active:not(.disabled) {
            //color: $color-grayblue-50;
            //text-decoration: $link-decoration;
            cursor: pointer;
          }
        }
      }
    }

    .navbar-account {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.navbar-cutoff {
  padding-top: $cutoff !important;
}