@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "navbar" as nav;


$width: 260px !default;
$bg: $white !default;
$z-index: $max-z-index - 10 !default;
$border: 1px solid rgba($gray-2, 0.6) !default;
$box-shadow: 1px 0 3px rgba(0, 0, 0, 0.12) !default;

$nav-z-index: $z-index + 5 !default;

$context-padding: nav.$cutoff 1rem 1rem 1rem !default;


.sidebar {
  position: fixed;
  z-index: $z-index;

  height: 100%;
  width: $width;
  background: $bg;
  border-right: $border;
  box-shadow: $box-shadow;

  .sidebar-inner {
    position: relative;

    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    div {
      height: inherit;
      width: inherit;
    }

    .sidebar-header {
      --#{$prefix}nav-position: absolute;
      --#{$prefix}nav-z-index: #{$nav-z-index};

      border-right: $border;
      border-bottom: $border;

      .sidebar-logo {
        @include company-logo(160px);
      }
    }

    .sidebar-context {
      position: inherit;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;

      padding: $context-padding;

      .sidebar-context-title {
        color: rgba(117, 119, 129, 0.49);
        padding: 0 1rem;
        margin: 1rem 0;
      }

      ul {
        flex: 1 0 auto;
        width: 100%;
        padding: 0; // resets default style
        list-style: none;

        li {
          display: flex;
          justify-content: stretch;
          margin-bottom: 1rem;
          width: inherit;

          .btn {
            --#{$prefix}btn-bg: transparent;
            --#{$prefix}btn-color: #{$dark};
            --#{$prefix}btn-box-shadow: none;

            justify-content: flex-start;
            width: inherit;
            margin: 0;

            &:hover {
              --#{$prefix}btn-color: #{$light};
            }
          }
        }
      }
    }
  }
}
