@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/button" as btn;
@use "navbar" as nav;


$bg: $white !default;
$z-index: $max-z-index - 10 !default;
$box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15) !default;
$cutoff: $sidebar-width !default;
$border: 1px solid rgba($gray-2, 0.4) !default;

$nav-z-index: $z-index + 5 !default;

$context-padding: calc(#{nav.$cutoff} + 1rem) 1rem 1rem 1rem !default;


.sidebar {
  position: fixed;
  z-index: $z-index;

  height: 100vh;
  width: $sidebar-width;
  background: $bg;
  border-right: $border;
  box-shadow: $box-shadow;

  .sidebar-inner {
    position: relative;

    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    div {
      height: inherit;
      width: inherit;
    }

    .sidebar-header {
      --#{$prefix}nav-position: absolute;
      --#{$prefix}nav-z-index: #{$nav-z-index};
      --#{$prefix}nav-width: 100%;
      --#{$prefix}nav-bg: #fbfbfb;

      .sidebar-logo {
        @include company-logo(160px);
      }
    }

    .sidebar-context {
      position: inherit;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;

      padding: $context-padding;

      .sidebar-context-title {
        color: rgba(117, 119, 129, 0.49);
        padding: 0 1rem;
        margin: 1rem 0;
      }

      ul {
        flex: 1 0 auto;
        width: 100%;
        padding: 0; // resets default style
        list-style: none;

        li {
          display: flex;
          justify-content: stretch;
          margin-bottom: 1rem;
          width: inherit;



          .btn {
            // sidebar buttons are inspired by the primary button
            $color-name: "primary";
            $target-color: #{rgba(map-get($theme-colors, $color-name), btn.$shadow-opacity)};

            --#{$prefix}btn-bg: transparent;
            --#{$prefix}btn-bg-hover: #{map-get($theme-colors, $color-name)};
            --#{$prefix}btn-bg-active: #{map-get(btn.$bg-active-colors, $color-name)};
            --#{$prefix}btn-color: #{$dark};
            --#{$prefix}btn-color-active: #{map-get(btn.$text-active-colors, $color-name)};
            --#{$prefix}btn-box-shadow: none;
            --#{$prefix}btn-i-color: #{$gray-3};

            justify-content: flex-start;
            width: inherit;
            margin: 0;

            &:hover {
              --#{$prefix}btn-color: #{$light};
              --#{$prefix}btn-box-shadow: #{btn.$shadow-vars} #{$target-color};
              --#{$prefix}btn-i-color: #{btn.$i-color-default};
            }
          }
        }
      }
    }
  }
}

.sidebar-cutoff {
  margin-left: $cutoff !important;
  width: calc(100% - #{$cutoff}) !important;
}
