:root {
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-primary: #4339f2;
  --color-info: #02a0fc;
  --color-success: #34b53a;
  --color-warning: #ffb200;
  --color-danger: #ff3a29;

  --color-link: #007bff;

  --color-grayblue-50: #4d5e80;
  --color-grayblue-60: #6b7a99;
  --color-grayblue-70: #7d8fb3;
  --color-grayblue-80: #adb8cc;
  --color-grayblue-85: #c3cad9;

  --gradient-light: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
  --gradient-dark: linear-gradient(180deg, #343a40 0%, #202223 100%);

  --effects-default: 1px 4px 4px rgba(0, 0, 0, 0.25);
  --effects-clicked: inset 1px 4px 4px rgba(0, 0, 0, 0.25);
  --effects-primary: 1px 4px 4px rgba(57, 98, 242, 0.38);
  --effects-info: 1px 4px 4px rgba(97, 193, 249, 0.38);
  --effects-success: 1px 4px 4px rgba(16, 192, 24, 0.38);
  --effects-warning: 1px 4px 4px rgba(255, 199, 0, 0.38);
  --effects-danger: 1px 4px 4px rgba(255, 92, 41, 0.38);
}

* {
  /* golbal reset */
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 40px;
}

div {
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
}

.container {
  box-sizing: border-box;
  margin: 3rem 10%;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 2rem;
  gap: 10px;

  cursor: pointer;
  user-select: none;

  background: var(--color-light);
  color: var(--color-dark);
  box-shadow: var(--effects-default);
  border-radius: 30px;
}

.btn-block {
  display: inline-block;
  flex: none;
  text-align: center;
  vertical-align: middle;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--color-light);
  box-shadow: var(--effects-clicked);
  border-radius: 30px;
}

.btn-dark {
  background: var(--color-dark);
  color: var(--color-light);
  box-shadow: var(--effects-default);
  border-radius: 30px;
}

.btn-dark:active {
  background: var(--color-dark);
  box-shadow: var(--effects-clicked);
  border-radius: 30px;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-light);
  box-shadow: var(--effects-primary);
  border-radius: 30px;
}

.btn-primary:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--color-primary);
  box-shadow: var(--effects-clicked);
  border-radius: 30px;
}

.btn-info {
  background: var(--color-info);
  color: var(--color-light);
  box-shadow: var(--effects-info);
  border-radius: 30px;
}

.btn-info:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--color-info);
  box-shadow: var(--effects-clicked);
  border-radius: 30px;
}

.btn-success {
  background: var(--color-success);
  color: var(--color-light);
  box-shadow: var(--effects-success);
  border-radius: 30px;
}

.btn-success:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--color-success);
  box-shadow: var(--effects-clicked);
  border-radius: 30px;
}

.btn-warning {
  background: var(--color-warning);
  color: var(--color-dark);
  box-shadow: var(--effects-warning);
  border-radius: 30px;
}

.btn-warning:active {
  background: var(--color-warning);
  box-shadow: var(--effects-clicked);
  border-radius: 30px;
}

.btn-danger {
  background: var(--color-danger);
  color: var(--color-light);
  box-shadow: var(--effects-danger);
  border-radius: 30px;
}

.btn-danger:active {
  background: var(--color-danger);
  box-shadow: var(--effects-clicked);
  border-radius: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  position: absolute;
  z-index: 1;
  top: 108%;
  left: 10%;
  padding: 10px 0;
  min-width: 80%;

  /* hiding on the default state */
  display: none;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* colors / theme / light-gradient */
  background: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
  border: 1px solid rgba(181, 181, 181, 0.8);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  animation: 300ms ease-in-out forwards growDown;
  transform-origin: top center;
}

.dropdown-active {
  display: flex;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown-toggle {
  transition: all 100ms ease-out;
}

.dropdown-itm {
  display: inline-block;
  width: 100%;
  padding: 0.3rem 1rem;
  text-align: center;
  vertical-align: middle;

  color: var(--color-grayblue-50);
  cursor: pointer;
  user-select: none;
}

.dropdown-itm:hover {
  background: rgba(195, 204, 205, 0.356);
  color: var(--color-link);
}

.dropdown-itm:active {
  background: rgba(77, 94, 128, 0.8);
  color: var(--color-light);
}

.dropdown-divider {
  width: 60%;
  height: 0;
  margin: 0.2rem 0;
  overflow: hidden;
  border-top: 1px solid var(--color-grayblue-85);
}

.card {
  margin: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106 */
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;

  background: var(--gradient-light);
  color: var(--color-dark);
  border: 1px solid #dedede;
  box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

.card-dark {
  background: var(--gradient-dark);
  color: var(--color-light);
  border: 1px solid #282828;
}

.card-img {
  width: 100%;
  background: #d9d9d9;
}

.card-body {
  padding: 1.2rem;
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
  color: var(--color-link);
}

.card-link:hover {
  color: var(--color-grayblue-70);
}

.card-link:active {
  color: var(--color-dark);
}

.card-title {
  margin-bottom: 0.6rem;
}

.card-text {
  margin-bottom: 0.6rem;
}
