/* SideMenu Blob 1.0 CSS file */
/* By Naveen Dharmathunga 2022 */
/* https://github.com/D-Naveenz/side-menu-blob */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color:#26394E ;
}

#sidebar {
  height: 100%;
  position: fixed;
  background-color: #15308F;
  width: 300px;
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  left: 60px;

  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
}

#sidebar.expanded {
  transform: translateX(0%);
  left: 0;
}

.sidebar-inner {
  width: 100%;
  height: 100%;
  position: relative;

  background: linear-gradient(180deg, #D8EEF8 0%, #B5C3DE 100%);
}

.sidebar-context {
  width: 240px;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-context:after {
  content:"";
  height: 100%;
  border: 1px solid #8592C8;

  position: absolute;
  top: 0;
  right: 0;
}

.sidebar-context div {
  box-sizing: border-box;
}

.sidebar-logo {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-list {
  width: 100%;
  padding: 20px 14px 20px 14px;
}

.sidebar-list-itm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 18px;
  gap: 10px;

  margin-bottom: 10px;
}

.sidebar-list-itm:link {
  text-decoration: none;
  color: #343A40;
}

.sidebar-list-itm:visited {
  color: #343A40;
}

.sidebar-list-itm:hover {
  padding-left: 30px;

  background: rgba(2, 160, 252, 0.5);
  box-shadow: 1px 4px 4px rgba(97, 193, 249, 0.28);
  border-radius: 10px;
}

.sidebar-list-itm:active {
  padding-left: 30px;

  background: rgba(52, 58, 64, 0.5);
  box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #F8F9FA;
}

.sidebar-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
  margin-top: -10px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}