@use "../abstracts/variables2" as *;

html,
body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

a:not(.btn) {
  color: $dark;
  text-decoration: $link-decoration;
  cursor: pointer;

  &:link, &:visited {
    color: $link-color;
    text-decoration: $link-decoration;
  }

  &:hover:not(.disabled) {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:active:not(.disabled) {
    color: $link-active-color;
    text-decoration: $link-active-decoration;
  }
}

p {
  margin-bottom: 2rem;
}