#main-content {
    margin-left: 21vw;
    padding: 2vh;
    padding-top: 10vh;
    padding-left: 3vh;
    z-index: 1000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vh;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 2vh;
    margin-bottom: 2vh;

}