.order-medicine-row-before {
    display: none;
}

.order-medicine-row-after {
    display: table-row;
}

/*.nav-search {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.search-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2vh;
    margin-bottom: 2vh;
}

.clear-filter-icon-hidden {
    display: none !important;
}

.clear-filter-icon {
    margin-left: 2vw;
    color: indianred;
    font-size: 1.5rem;
}

.clear-filter-icon:hover {
    color: red;
    cursor: pointer;
}

.order-medicine-quantity {
    /*this is input type number*/
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #071232;
    background-color: #fff;
    padding: 15px;
}

.swal-modal {
    width: auto;
    min-width: 50vw;
}

.swal-modal .swal-text {
    text-align: center;
}

.medicine-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2vh;
}

form {
    width: 100%;
    height: auto;
}

.medicine-details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}

.medicine-details-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: auto;
}

.medicine-details-col-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: auto;
}

.medicine-details-col-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: auto;
}

.medicine-details h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #3A3B3C;
    margin-bottom: 0;
    text-align: justify;
}

.medicine-details h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #1b1b1c;
    margin-bottom: 0;
}

.form-group input {
    width: 80%;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333 !important;
    border-color: #bd2130;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838 !important;
    border-color: #1e7e34;
}

.orders {
    margin-top: 5vh;
    width: 100%;
}

.swal-footer {
    align-items: center;
}
