table {
    border-spacing: 0;
    border-radius: 0.5rem;
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;
}

table td {
    border-bottom: .1rem solid #e1e1e1 !important;
    background-color: #fff;
    padding: 1.2rem 1.5rem;
}

table td th{
    border-bottom: .1rem solid #e1e1e1 !important;
    padding: 1.2rem 1.5rem;
    background-color: #fff;
}

table th {
    border-bottom: .1rem solid #e1e1e1 !important;
    padding: 1.2rem 1.5rem;
    background-color: #fff;
}


  /*&:first-child padding-left: 0*/



/*&:last-child*/
 /*padding-right: 0*/

@media (min-width: 40.0rem) {

    table {
        display: table;
        overflow-x: initial;
    }

}

.loginError {
    position: fixed;
    z-index: 100;
    top: 5px;
    left: 77%;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    /*add box shadow*/
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.view-order-details i:hover {
    color: #f44336 !important;
    cursor: pointer;
}