body {
    background-image: url(/res/background-image-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    font-family: 'Roboto', sans-serif, Arial;
}

.container {
    /*width: 100%;*/
    /*max-width: 85vw;*/
    padding: 3vh 3vw;
    margin: 5vh auto;
    background-color: #fff;
    border-radius: 1vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    width: 100%;
    max-width: 85vw;
}

.container h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5vh;
    margin-top: 1vh;
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}


.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 1vh;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    height: 6vh;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    width: 25vw;
}

label {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1vh;
}

.form-container form input:focus {
    border: 1px solid #333;
}



#loginButton {
    background-color: #4CAF50;
    color: #fff;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 1vh;
    width: 30%;
    align-self: center;
    cursor: pointer;
}

.file-upload {
    height: 35px;
    width: 35px;
    border-radius: 70px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 15px;
}

.file-upload:hover {
    background-position: 0 -100%;
    color: #2590EB;
}

.file-upload input[type='file']{
    height:200px;
    width:200px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;

}

/*// if file is selected*/
.file-upload--selected{
    background-image: linear-gradient(to bottom, #25eb3f 50%, #FFFFFF 50%);
    border: 4px solid #25eb3f;
}

.file-upload--selected:hover{
    background-position: 0 -100%;
    color: #25eb3f;
}

.file-upload input[type='file']{
    height:200px;
    width:200px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;

}

.file-upload input {
    cursor: pointer;
}

.file-upload:hover{
    cursor: pointer;
}

span {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 3vh;
}

i:hover {
    cursor: pointer;
}

.login-now {
    text-align: center;
    /*margin-top: 1vh;*/
}

.login-now p {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0;
}

.login-now a {
    font-size: 1rem;
    font-weight: 300;
    color: #4CAF50;
    text-decoration: none;
}

.login-now a:hover {
    text-decoration: underline;
}


/*error handling*/
.loginError {
    position: fixed;
    z-index: 100;
    top: 5px;
    left: 77%;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    /*add box shadow*/
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}



.side {
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
}

select {
    padding: 1vh;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    height: 6vh;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    width: 25vw;
    color: #333;
}
