@use "../abstracts/variables" as *;


$article-margin: 0 auto !default;


.container {
  margin: 0 auto;

  &-fluid {
    width: 100%;
  height: 100%;
  }
}

.canvas {
  position: relative;

  width: 100%;
  height: 100%;
  //overflow: hidden;

  .canvas-inner {
    width: 100%;
    height: 100%;
    padding: var(--#{$prefix}gap, 1rem);
  }
}

article {
  width: 95%;
  height: 100%;
  margin: $article-margin;

  padding: 1.5rem;
  background: rgba(174, 238, 218, 0.8);
  border: 1px solid $white;
  border-radius: 0.3rem;
}
