body {
  margin: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container {
  box-sizing: border-box;
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  box-sizing: border-box;
  width: 1280px;
  height: 400px;
  max-width: 1340px;
  overflow: hidden;
  position: relative;
  background: rgba(109, 109, 109, 1);
}

.carousel-image {
  width: 100%;
  vertical-align: middle;
}

.carousel-btn {
  position: absolute;
  top: 0;

  height: 100%;
  width: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: rgba(240, 240, 240, 0.2);
  font-size: 3rem;
  transition: 0.6s ease;
  user-select: none;
}

.carousel-btn:hover {
  background: rgba(240, 240, 240, 0.4);
  color: rgba(52, 58, 64, 0.4);;
  transition: 0.3s ease-out;
}

.carousel-btn:active {
  background: rgba(52, 58, 64, 0.3);
  color: rgba(248, 249, 250, 0.6);;
}

.carousel-slide {
  display: none;
}

.active-slide {
  display: block;
}

.carousel-next {
  right: 0;
}

.carousel-prev {
  left: 0;
}
