body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color:#26394E ;
}

h1 {
  position: fixed;
  right: 0;
  margin: 0;
}

h2 {
  position: absolute;
  left: 50%;
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 100;
}