@use "../abstracts/variables" as *;
@use "../abstracts/button" as *;


$margin: .5rem !default;
$padding-y: .5rem !default;
$padding-x: 1rem !default;
$font-family: $font-family-base !default;
$font-size: $font-size-sm !default;
$font-weight: $font-weight-semibold !default;
$line-height: $line-height-base !default;
$border-radius: .3rem !default;
$border-width: 1px !default;
$transition: all .2s ease-in-out !default;
$transition-active: all .1s ease-out !default;
$color: $dark !default;
$gap: 0.8rem !default;

.btn {
  @include btn-colors("light");

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $gap;

  margin: $margin;
  padding: $padding-y $padding-x;
  border: transparent $border-width solid;
  border-radius: $border-radius;
  background: var(--#{$prefix}btn-bg);
  box-shadow: var(--#{$prefix}btn-box-shadow);

  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: var(--#{$prefix}btn-color);

  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: $transition;

  // resets all child elements
  * {
    display: inline-block;
    margin: 0;
    flex: 0 0 auto;
  }

  i {
    color: var(--#{$prefix}btn-i-color);
  }

  &:hover {
    background: var(--#{$prefix}btn-bg-hover);
  }

  &:active {
    background: var(--#{$prefix}btn-bg-active);
    color: var(--#{$prefix}btn-color-active);
    box-shadow: var(--#{$prefix}btn-box-shadow-active);
    transform: translateY(1px);
    transition: $transition-active;

    i {
      color: var(--#{$prefix}btn-i-color-active);
    }
  }

  @each $name, $value in $theme-colors {
    &--#{$name} {
      @include btn-colors($name);
    }
  }
}