@use "../abstracts/variables" as *;
@use "../abstracts/variables2" as *;


.card {
  margin: $card-margin;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106 */
  min-width: 0;
  word-wrap: break-word;

  background: $gradient-light;
  background-clip: border-box;
  color: $dark;
  border: $card-border-light;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;

  &.dark {
    background: $gradient-dark;
    color: $light;
    border: $card-border-dark;
  }

  .card-img {
    width: 100%;
    background: $card-hollow-color;
  }

  .card-body {
    padding: $card-padding;

    .card-title {
      margin-bottom: $card-title-margin-bottom;
      font-weight: $card-title-weight;
      text-align: center;
    }

    .card-text {
      margin-bottom: $card-context-gap;
    }
  }
}
