@use "../abstracts/variables2" as *;
@use "../abstracts/mixins" as *;

footer {
  display: block;
  margin-top: $footer-gap;
  background: $footer-bg;
  width: 100%;
  height: $footer-height;
  padding: $footer-padding;
  font-size: $footer-font-size;
  color: $footer-font-color;

  .footer-inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .footer-logo {
        @include logo-text;
      }

      .footer-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $footer-links-color;

        a {
          text-decoration: $link-decoration;
          cursor: default;
          position: relative;
          color:  inherit;

          &:link, &:visited {
            color: inherit;
            text-decoration: $link-decoration;
            cursor: pointer;
          }

          &:hover:not(.disabled) {
            color: inherit;
            text-decoration: $link-hover-decoration;
            cursor: pointer;
          }

          &:not(:last-child):after {
            position: absolute;
            right: -0.65rem;
            top: -0.35rem;
            content: "|";
            font-weight:300;
            font-size: 20px;
            color: inherit;
            display: inline-block;
          }
        }
      }

      h6 {
        align-self: start;
      }

      ul {
        line-height: $footer-context-line-height;
        color:  $footer-context-color;
        list-style: none;
      }

      p {
        margin: 0;
      }
    }
  }
}