@use "../abstracts/variables" as *;


$shade-percent: 20% !default;
$color: $primary !default;
$color-hover: lighten($color, $shade-percent) !default;
$color-active: darken($color, $shade-percent) !default;


.link {
  color: var(--#{$prefix}a-color);

  &:not(.disabled) {
    &:link, &:visited {
      --#{$prefix}a-color: #{$color};
    }

    &:hover {
      --#{$prefix}a-color: #{$color-hover};
      --#{$prefix}i-color: #{$i-color-hover};
    }

    &:active {
      --#{$prefix}a-color: #{$color-active};
      --#{$prefix}i-color: #{$i-color-active};
    }
  }
}