/* SideMenu Blob 1.0 CSS file */
/* By Naveen Dharmathunga 2022 */
/* https://github.com/D-Naveenz/sidemenu-blob */
@use "../abstracts/variables" as *;
@use "../abstracts/variables2" as *;
@use "../abstracts/mixins" as *;


.sidebar {
  position: fixed;
  height: 100%;
  background-color: #2536b8;
  width: $sidebar-width;
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  left: $sidebar-width-collapsed;
  z-index: $z-sidebar;

  &.expanded {
    transform: translateX(0%);
    left: 0;
  }

  .sidebar-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 16px;
    z-index: $z-sidebar + 2;
    margin-top: -10px;
    font-size: 20px;
    text-align: center;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .sidebar-blob {
    position: absolute;
    height: 100%;
    top: 0;
    right: 60px;
    z-index: $z-sidebar - 1;
    transform: translateX(100%);

    path {
      height: 100%;
      fill: #2536b8;
    }
  }

  .sidebar-toggle-cover {
    position: absolute;
    width: 54px;
    height: 70px;
    top: 0;
    right: -4px;
    z-index: $z-sidebar + 1;

    path {
      fill: #2536b8;
    }
  }

  .sidebar-inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: $z-sidebar;

    background: linear-gradient(180deg, #D8EEF8 0%, #B5C3DE 100%);

    .sidebar-context {
      width: calc($sidebar-width - $sidebar-width-collapsed);
      height: 100%;
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;

      &::after {
        content: "";
        height: 100%;
        // border: 1px solid #8592c840;
        background: #8592c840;
        width: 1px;

        position: absolute;
        top: 0;
        right: 0;
      }

      .sidebar-context-top {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        width: calc($sidebar-width - $sidebar-width-collapsed);
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        padding-top: 5px;

        .sidebar-logo {
          @include company-logo(200px);
        }
      }

      .sidebar-list {
        width: 100%;
        padding: 20px 14px;

        .sidebar-list-itm {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 13px 18px;
          gap: 10px;
          margin-bottom: 10px;
          transition: all 300ms ease-out;

          &:link, &:visited {
            text-decoration: none;
            color: #343A40;
          }

          &:hover {
            padding-left: 30px;

            background: rgba(2, 160, 252, 0.5);
            box-shadow: 1px 4px 4px rgba(97, 193, 249, 0.28);
            border-radius: 10px;
          }

          &:active {
            padding-left: 30px;

            background: rgba(52, 58, 64, 0.5);
            box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            color: #F8F9FA;
          }
        }
      }
    }
  }
}

.lqs-space {
  transition: padding-left 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}


















