.input-box {

  border: 2px solid rgb(145, 141, 141); 
  border-radius: 10px; 
  width: 70%; 
  height:50px; 
  margin: 8px 0px;
  padding: 0px 1px;

}
::placeholder {
      font-family: "Ubuntu", sans-serif;
      padding: 1%;
}

.option{
  font-family: "Ubuntu", sans-serif;
    padding: 1%;

}