.input-box {

  border: 2px solid rgb(145, 141, 141); 
  border-radius: 10px; 
  width: 70%; 
  height:50px; 
  margin: 8px 0px;
  padding: 0px 1px;

}
::placeholder {
      font-family: "Ubuntu", sans-serif;
      padding: 1%;
}

.option{
  font-family: "Ubuntu", sans-serif;
    padding: 1%;

}
.scrollable thead,
.scrollable tfoot,
.scrollable tbody,
.scrollable th,
.scrollable td {
  display: block;
  width: 100%;
}

.scrollable thead,
.scrollable tfoot,
.scrollable tbody {
  overflow-y: scroll;
}

.scrollable thead,
.scrollable tfoot {
  -ms-overflow-style: none;
}

.scrollable thead::-webkit-scrollbar,
.scrollable tfoot::-webkit-scrollbar {
  visibility: hidden;
}

.scrollable tbody {
  max-height: 20em;
  position: relative;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrollable tr {
  display: flex;
}

.scrollable tbody th,
.scrollable tbody td {
  border-top: none;
}

.scrollable th:not(:last-child),
.scrollable td:not(:last-child) {
  border-right: none;
}

textarea{
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border: 2px solid rgb(145, 141, 141);
    font-family: "Ubuntu", sans-serif;
    padding: 1%;
    color: rgb(145, 141, 141);
}
